53gGRZth8za9c7WHtuuX7.json
[
  {
    "updatedAt": "2026-02-03T00:39:40.958Z",
    "createdAt": "2026-02-02T00:46:47.217Z",
    "id": "53gGRZth8za9c7WHtuuX7",
    "name": "backup",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "operation": "toJson",
          "options": {
            "format": true,
            "fileName": "={{ $json.id }}.json"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          976,
          112
        ],
        "id": "0dc7894e-713e-4f19-ba71-74c8d98fe4b5",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "operation": "write",
          "fileName": "={{ $('Set repo vars').item.json.repoPath  }}/{{ $binary.data.fileName }}",
          "options": {}
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1.1,
        "position": [
          1184,
          208
        ],
        "id": "623a5692-ee44-4c5a-b3fe-7b5a4bdc92bc",
        "name": "Read/Write Files from Disk"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -384,
          0
        ],
        "id": "bc257b53-d590-43d1-8636-e437ed3afbb3",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          464,
          0
        ],
        "id": "005e9024-9714-41a2-99cc-3db883e05200",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "1dd7f944-79f8-4a83-af2a-5dca553d6866",
                "leftValue": "={{ $json.isArchived }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          720,
          128
        ],
        "id": "b168007f-17da-48f4-a962-0c204cd8e9c9",
        "name": "if no archived"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3bce713b-2220-4437-a7e2-b2908102f51f",
                "name": "repoPath",
                "value": "=/tmp/n8n-{{ $json.Year }}-{{ $json.Month }}-{{ $json['Day of month'] }}",
                "type": "string"
              },
              {
                "id": "03dcc5ef-c68f-47e9-97f8-47787e43cc11",
                "name": "repoUrl",
                "value": "https://github.com/Andmedoctopus/n8n",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -208,
          0
        ],
        "id": "12be0734-b513-4217-8e21-08490829ecbb",
        "name": "Set repo vars"
      },
      {
        "parameters": {
          "authentication": "gitPassword",
          "operation": "clone",
          "repositoryPath": "={{ $json.repoPath }}",
          "sourceRepository": "={{ $json.repoUrl }}"
        },
        "type": "n8n-nodes-base.git",
        "typeVersion": 1.1,
        "position": [
          -48,
          0
        ],
        "id": "69fd2139-5c27-4007-8cf7-8429e604fb22",
        "name": "Clone n8n repo",
        "credentials": {
          "gitPassword": {
            "id": "pc0JLdPlsrx3sKEv",
            "name": "Git account"
          }
        }
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          128,
          0
        ],
        "id": "539e4ff5-a48a-4ae1-bf73-b40a3cf7bae6",
        "name": "Get many workflows",
        "credentials": {
          "n8nApi": {
            "id": "NdV6swUgV8c5SMzc",
            "name": "n8n account"
          }
        }
      }
    ],
    "connections": {
      "Convert to File": {
        "main": [
          [
            {
              "node": "Read/Write Files from Disk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Set repo vars",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read/Write Files from Disk": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "if no archived",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "if no archived": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set repo vars": {
        "main": [
          [
            {
              "node": "Clone n8n repo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clone n8n repo": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "b4ffbcfa-4996-498e-9874-62bcdc484ffc",
    "activeVersionId": null,
    "triggerCount": 1,
    "shared": [
      {
        "updatedAt": "2026-02-02T00:46:47.231Z",
        "createdAt": "2026-02-02T00:46:47.231Z",
        "role": "workflow:owner",
        "workflowId": "53gGRZth8za9c7WHtuuX7",
        "projectId": "18oMexXyyY6TCNnP"
      }
    ],
    "activeVersion": null,
    "tags": []
  }
]