53gGRZth8za9c7WHtuuX7.json
[
  {
    "updatedAt": "2026-02-02T01:50:40.686Z",
    "createdAt": "2026-02-02T00:46:47.217Z",
    "id": "53gGRZth8za9c7WHtuuX7",
    "name": "backup",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -368,
          -80
        ],
        "id": "c6f010f5-8e5c-4f02-9594-aee60a5380ef",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "Andmedoctopus",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://github.com/Andmedoctopus/n8n"
          },
          "filePath": "={{ $binary.data.fileName }}",
          "binaryData": true,
          "commitMessage": "=Update {{ $('Loop Over Items').item.json.name }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          832,
          32
        ],
        "id": "0729fd71-264c-4c2a-b29c-d7506f911e25",
        "name": "Create a file",
        "webhookId": "ad25c6b7-d179-4eba-ba94-42fd7f7a6ace",
        "credentials": {
          "githubApi": {
            "id": "gDQYslqN6sh88zru",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -160,
          -80
        ],
        "id": "a5283d99-1997-4eec-8cb2-2416d9359546",
        "name": "Get many workflows",
        "credentials": {
          "n8nApi": {
            "id": "NdV6swUgV8c5SMzc",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "reset": false
          }
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          128,
          -80
        ],
        "id": "4df5529c-b08e-4eaf-a5eb-c28b5cd15699",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "operation": "toJson",
          "binaryPropertyName": "=data",
          "options": {
            "format": true,
            "fileName": "={{ $json.id }}.json"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          576,
          -80
        ],
        "id": "2d340b1b-b0ab-4199-96ee-7c0fa0d208ad",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "98f904b3-d1db-4ad4-bed1-a64d4a27361e",
                "leftValue": "={{ $json.isArchived }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          368,
          -64
        ],
        "id": "cf23cb2c-8473-4009-8a50-3a0d7d4fb886",
        "name": "Not archived?"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Not archived?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "Create a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a file": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Not archived?": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "d2f61097-aa7e-4467-a86c-8f475d92e9ff",
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-02-02T00:46:47.231Z",
        "createdAt": "2026-02-02T00:46:47.231Z",
        "role": "workflow:owner",
        "workflowId": "53gGRZth8za9c7WHtuuX7",
        "projectId": "18oMexXyyY6TCNnP"
      }
    ],
    "activeVersion": null,
    "tags": []
  }
]