s91lmLHSIEejyPNeWm9kL.json
[
  {
    "updatedAt": "2026-02-02T00:07:35.586Z",
    "createdAt": "2026-01-30T04:28:59.776Z",
    "id": "s91lmLHSIEejyPNeWm9kL",
    "name": "Accountant",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {
            "download": true
          }
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "id": "3d91dd1e-b13e-49c1-b9f5-d92b6cc52971",
        "name": "Telegram Trigger",
        "webhookId": "d3fe71e0-0d99-46b8-827c-74c631eda4cc",
        "alwaysOutputData": false,
        "executeOnce": false,
        "retryOnFail": false,
        "notesInFlow": false,
        "credentials": {
          "telegramApi": {
            "id": "wO696FcGgg9OFBEP",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "516ed6aa-06c8-4eef-b1be-a9beb863ae00",
                "leftValue": "=[483684106, 459463893]",
                "rightValue": "={{ Number($json.message.from.id) }}",
                "operator": {
                  "type": "array",
                  "operation": "contains",
                  "rightType": "any"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {
            "ignoreCase": false
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          208,
          0
        ],
        "id": "21991809-222d-4c61-b773-f79a9d216845",
        "name": "Check users whitelist"
      },
      {
        "parameters": {
          "chatId": "={{ $json.message.chat.id }}",
          "text": "You don't have permissions to send a message :(",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          416,
          96
        ],
        "id": "b4dd850d-45d5-4936-8f9a-11901ac9b7c0",
        "name": "Inform no permissions",
        "webhookId": "a2552aff-d4d9-4c86-910b-c111a9e2fd92",
        "credentials": {
          "telegramApi": {
            "id": "wO696FcGgg9OFBEP",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.message.photo }}",
                      "rightValue": "e",
                      "operator": {
                        "type": "array",
                        "operation": "exists",
                        "singleValue": true
                      },
                      "id": "06fbc6e7-6f31-4301-adcc-65f800889147"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Image"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "c3e093a2-9e50-4a8e-9d19-b4d4453ba464",
                      "leftValue": "={{ $json.message.photo }}",
                      "rightValue": "",
                      "operator": {
                        "type": "array",
                        "operation": "notExists",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Empty"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          464,
          -112
        ],
        "id": "ca5ceaba-910d-4503-9c3d-235848e1f5ca",
        "name": "Switch"
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "text": "You extract receipt data.\nReturn JSON only.\nNo text outside JSON.\nNo markdown.\n\nSchema:\n{\n  \"d\":\"YYYY-MM-DD\",\n  \"m\":\"store\",\n  \"i\":[[\"cat\",\"item\",q,u,t]]\n}\n\nRules:\n- Shortest accurate strings\n- Numbers only\n- No nulls\n- No extra fields\n- Merge discounts into item totals",
          "inputType": "binary",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          688,
          -192
        ],
        "id": "2885e124-58a2-48d8-a05a-9961fbd8f30b",
        "name": "Analyze an image",
        "credentials": {
          "googlePalmApi": {
            "id": "vmKCM7R680zMoMHW",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.message.chat.id }}",
          "text": "No image was attached",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          688,
          0
        ],
        "id": "552cc9cc-a744-4d5e-a989-9073fac7a0fa",
        "name": "Inform no image found",
        "webhookId": "0d9e65e7-31da-439d-8625-b3e563a9fcdb",
        "credentials": {
          "telegramApi": {
            "id": "wO696FcGgg9OFBEP",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "if ($input.all().length != 1){\n  throw Error(\"Don't know how to process such response\")\n}\nconst modelResponse = $input.all()[0].json.content\nif (modelResponse.parts.length != 1){\n  throw Error(\"Don't know how to process such AI response\")\n}\nlet pureText = modelResponse.parts[0].text\nif (pureText.includes(\"`\")){\n  // AI model ignored no markdown instruction\n  pureText = pureText.replaceAll(\"```json\", \"\").replaceAll(\"```\", \"\")\n}\nconst accountantRecord = JSON.parse(pureText)\nconst output = []\n\n// guess date if model failed to do so\nlet hasIncorrectDate = false\nlet date = accountantRecord.d\nif (accountantRecord.d.startsWith(\"19\")){\n  date = new Date().toISOString().slice(0, 7)\n  hasIncorrectDate = true\n}\n\n\nfor (const record of accountantRecord.i) {\n    const [category, item, quantity, unitPrice, total] = record\n   \n    output.push(\n        {\n            \"hadIncorrectDate\": hasIncorrectDate,\n            \"date\": date,\n            \"merchandise\": accountantRecord.m,\n            \"category\": category,\n            \"item\": item,\n            \"quantity\": quantity,\n            \"unitPrice\": unitPrice,\n            \"total\": total\n        }\n    )\n}\n\nreturn output"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          896,
          -192
        ],
        "id": "dbcd9442-8f37-4d4a-bb31-08bb64ad0bfa",
        "name": "Make response processable"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "=1O8OKjY8SaO-6x1X41ixAixO5PpMrcBfzgd6v7fAvzMU",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "={{ $json.date.slice(0,-3) }}",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Date": "={{ $json.date }}",
              "Merchant": "={{ $json.merchandise }}",
              "Category": "={{ $json.category }}",
              "Item": "={{ $json.item }}",
              "Quantity": "={{ $json.quantity }}",
              "Unit Price": "={{ $json.unitPrice }}",
              "Total": "={{ $json.total }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Date",
                "displayName": "Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Merchant",
                "displayName": "Merchant",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Category",
                "displayName": "Category",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Item",
                "displayName": "Item",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Quantity",
                "displayName": "Quantity",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Unit Price",
                "displayName": "Unit Price",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Total",
                "displayName": "Total",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "useAppend": true
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1152,
          -80
        ],
        "id": "2c98c7c9-1788-488e-b8fe-c96a2f57aaee",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "PpQhIwHDzMjuwmgy",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const data = $input.all()\nconst hasIncorrectDate = data.some((i) => i.json.hadIncorrectDate)\nconst verificationTotal = data.reduce((partialSum, i) => partialSum + i.json.total, 0.0);\nconsole.log()\n\nreturn {\n  verificatioTotal: Number.parseFloat(verificationTotal).toFixed(2),\n  hasIncorrectDate: hasIncorrectDate,\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1152,
          -224
        ],
        "id": "a66f163c-82cf-4a08-a4e6-e552bba15e9e",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "chatId": "={{ $json.chatID }}",
          "text": "=Please verify total sum: {{ $json.verificatioTotal }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1728,
          -288
        ],
        "id": "a1aca954-7609-4d35-b3a7-f60e76f44472",
        "name": "Send a text message",
        "webhookId": "8df76437-cb5e-4c74-ad0f-cc46bb1d1da5",
        "retryOnFail": false,
        "credentials": {
          "telegramApi": {
            "id": "wO696FcGgg9OFBEP",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "15357634-6f5a-42da-9f21-189ff34c1776",
                "name": "chatID",
                "value": "={{ $json.message.chat.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          688,
          -336
        ],
        "id": "b639db0e-06b7-4046-8ee7-f0527d9505a7",
        "name": "Remember chat"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1376,
          -320
        ],
        "id": "7eec1065-8517-42ea-a384-681400348ae4",
        "name": "Merge",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "jsCode": "const result = {}\n\nfor (const item of $input.all()) {\n  if (item.json.verificatioTotal){\n    result.verificatioTotal = item.json.verificatioTotal\n  }\n  if (item.json.chatID){\n    result.chatID = item.json.chatID\n  }\n}\n\nreturn result;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1552,
          -288
        ],
        "id": "f8716f6e-950a-41b8-8ab4-2fdf72163add",
        "name": "Remove ugly structure"
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Check users whitelist",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check users whitelist": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Inform no permissions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Analyze an image",
              "type": "main",
              "index": 0
            },
            {
              "node": "Remember chat",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Inform no image found",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze an image": {
        "main": [
          [
            {
              "node": "Make response processable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Make response processable": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          []
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Send a text message": {
        "main": [
          []
        ]
      },
      "Remember chat": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Remove ugly structure",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove ugly structure": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "1877cf59-c2a7-4953-bacc-bc310e1e376e",
    "activeVersionId": "1877cf59-c2a7-4953-bacc-bc310e1e376e",
    "triggerCount": 1,
    "shared": [
      {
        "updatedAt": "2026-01-30T04:28:59.782Z",
        "createdAt": "2026-01-30T04:28:59.782Z",
        "role": "workflow:owner",
        "workflowId": "s91lmLHSIEejyPNeWm9kL",
        "projectId": "18oMexXyyY6TCNnP"
      }
    ],
    "activeVersion": {
      "updatedAt": "2026-02-02T00:08:21.000Z",
      "createdAt": "2026-02-02T00:07:35.591Z",
      "versionId": "1877cf59-c2a7-4953-bacc-bc310e1e376e",
      "workflowId": "s91lmLHSIEejyPNeWm9kL",
      "nodes": [
        {
          "parameters": {
            "updates": [
              "message"
            ],
            "additionalFields": {
              "download": true
            }
          },
          "type": "n8n-nodes-base.telegramTrigger",
          "typeVersion": 1.2,
          "position": [
            0,
            0
          ],
          "id": "3d91dd1e-b13e-49c1-b9f5-d92b6cc52971",
          "name": "Telegram Trigger",
          "webhookId": "d3fe71e0-0d99-46b8-827c-74c631eda4cc",
          "alwaysOutputData": false,
          "executeOnce": false,
          "retryOnFail": false,
          "notesInFlow": false,
          "credentials": {
            "telegramApi": {
              "id": "wO696FcGgg9OFBEP",
              "name": "Telegram account"
            }
          }
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "loose",
                "version": 3
              },
              "conditions": [
                {
                  "id": "516ed6aa-06c8-4eef-b1be-a9beb863ae00",
                  "leftValue": "=[483684106, 459463893]",
                  "rightValue": "={{ Number($json.message.from.id) }}",
                  "operator": {
                    "type": "array",
                    "operation": "contains",
                    "rightType": "any"
                  }
                }
              ],
              "combinator": "and"
            },
            "looseTypeValidation": true,
            "options": {
              "ignoreCase": false
            }
          },
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            208,
            0
          ],
          "id": "21991809-222d-4c61-b773-f79a9d216845",
          "name": "Check users whitelist"
        },
        {
          "parameters": {
            "chatId": "={{ $json.message.chat.id }}",
            "text": "You don't have permissions to send a message :(",
            "additionalFields": {}
          },
          "type": "n8n-nodes-base.telegram",
          "typeVersion": 1.2,
          "position": [
            416,
            96
          ],
          "id": "b4dd850d-45d5-4936-8f9a-11901ac9b7c0",
          "name": "Inform no permissions",
          "webhookId": "a2552aff-d4d9-4c86-910b-c111a9e2fd92",
          "credentials": {
            "telegramApi": {
              "id": "wO696FcGgg9OFBEP",
              "name": "Telegram account"
            }
          }
        },
        {
          "parameters": {
            "rules": {
              "values": [
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "leftValue": "={{ $json.message.photo }}",
                        "rightValue": "e",
                        "operator": {
                          "type": "array",
                          "operation": "exists",
                          "singleValue": true
                        },
                        "id": "06fbc6e7-6f31-4301-adcc-65f800889147"
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "Image"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "id": "c3e093a2-9e50-4a8e-9d19-b4d4453ba464",
                        "leftValue": "={{ $json.message.photo }}",
                        "rightValue": "",
                        "operator": {
                          "type": "array",
                          "operation": "notExists",
                          "singleValue": true
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "Empty"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.switch",
          "typeVersion": 3.4,
          "position": [
            464,
            -112
          ],
          "id": "ca5ceaba-910d-4503-9c3d-235848e1f5ca",
          "name": "Switch"
        },
        {
          "parameters": {
            "resource": "image",
            "operation": "analyze",
            "modelId": {
              "__rl": true,
              "value": "models/gemini-2.5-flash",
              "mode": "list",
              "cachedResultName": "models/gemini-2.5-flash"
            },
            "text": "You extract receipt data.\nReturn JSON only.\nNo text outside JSON.\nNo markdown.\n\nSchema:\n{\n  \"d\":\"YYYY-MM-DD\",\n  \"m\":\"store\",\n  \"i\":[[\"cat\",\"item\",q,u,t]]\n}\n\nRules:\n- Shortest accurate strings\n- Numbers only\n- No nulls\n- No extra fields\n- Merge discounts into item totals",
            "inputType": "binary",
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.googleGemini",
          "typeVersion": 1.1,
          "position": [
            688,
            -192
          ],
          "id": "2885e124-58a2-48d8-a05a-9961fbd8f30b",
          "name": "Analyze an image",
          "credentials": {
            "googlePalmApi": {
              "id": "vmKCM7R680zMoMHW",
              "name": "Google Gemini(PaLM) Api account"
            }
          }
        },
        {
          "parameters": {
            "chatId": "={{ $json.message.chat.id }}",
            "text": "No image was attached",
            "additionalFields": {}
          },
          "type": "n8n-nodes-base.telegram",
          "typeVersion": 1.2,
          "position": [
            688,
            0
          ],
          "id": "552cc9cc-a744-4d5e-a989-9073fac7a0fa",
          "name": "Inform no image found",
          "webhookId": "0d9e65e7-31da-439d-8625-b3e563a9fcdb",
          "credentials": {
            "telegramApi": {
              "id": "wO696FcGgg9OFBEP",
              "name": "Telegram account"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "if ($input.all().length != 1){\n  throw Error(\"Don't know how to process such response\")\n}\nconst modelResponse = $input.all()[0].json.content\nif (modelResponse.parts.length != 1){\n  throw Error(\"Don't know how to process such AI response\")\n}\nlet pureText = modelResponse.parts[0].text\nif (pureText.includes(\"`\")){\n  // AI model ignored no markdown instruction\n  pureText = pureText.replaceAll(\"```json\", \"\").replaceAll(\"```\", \"\")\n}\nconst accountantRecord = JSON.parse(pureText)\nconst output = []\n\n// guess date if model failed to do so\nlet hasIncorrectDate = false\nlet date = accountantRecord.d\nif (accountantRecord.d.startsWith(\"19\")){\n  date = new Date().toISOString().slice(0, 7)\n  hasIncorrectDate = true\n}\n\n\nfor (const record of accountantRecord.i) {\n    const [category, item, quantity, unitPrice, total] = record\n   \n    output.push(\n        {\n            \"hadIncorrectDate\": hasIncorrectDate,\n            \"date\": date,\n            \"merchandise\": accountantRecord.m,\n            \"category\": category,\n            \"item\": item,\n            \"quantity\": quantity,\n            \"unitPrice\": unitPrice,\n            \"total\": total\n        }\n    )\n}\n\nreturn output"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            896,
            -192
          ],
          "id": "dbcd9442-8f37-4d4a-bb31-08bb64ad0bfa",
          "name": "Make response processable"
        },
        {
          "parameters": {
            "operation": "append",
            "documentId": {
              "__rl": true,
              "value": "=1O8OKjY8SaO-6x1X41ixAixO5PpMrcBfzgd6v7fAvzMU",
              "mode": "id"
            },
            "sheetName": {
              "__rl": true,
              "value": "={{ $json.date.slice(0,-3) }}",
              "mode": "name"
            },
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "Date": "={{ $json.date }}",
                "Merchant": "={{ $json.merchandise }}",
                "Category": "={{ $json.category }}",
                "Item": "={{ $json.item }}",
                "Quantity": "={{ $json.quantity }}",
                "Unit Price": "={{ $json.unitPrice }}",
                "Total": "={{ $json.total }}"
              },
              "matchingColumns": [],
              "schema": [
                {
                  "id": "Date",
                  "displayName": "Date",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true,
                  "removed": false
                },
                {
                  "id": "Merchant",
                  "displayName": "Merchant",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true,
                  "removed": false
                },
                {
                  "id": "Category",
                  "displayName": "Category",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true,
                  "removed": false
                },
                {
                  "id": "Item",
                  "displayName": "Item",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true,
                  "removed": false
                },
                {
                  "id": "Quantity",
                  "displayName": "Quantity",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true,
                  "removed": false
                },
                {
                  "id": "Unit Price",
                  "displayName": "Unit Price",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true,
                  "removed": false
                },
                {
                  "id": "Total",
                  "displayName": "Total",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true,
                  "removed": false
                }
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": false
            },
            "options": {
              "useAppend": true
            }
          },
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4.7,
          "position": [
            1152,
            -80
          ],
          "id": "2c98c7c9-1788-488e-b8fe-c96a2f57aaee",
          "name": "Append row in sheet",
          "credentials": {
            "googleSheetsOAuth2Api": {
              "id": "PpQhIwHDzMjuwmgy",
              "name": "Google Sheets account"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const data = $input.all()\nconst hasIncorrectDate = data.some((i) => i.json.hadIncorrectDate)\nconst verificationTotal = data.reduce((partialSum, i) => partialSum + i.json.total, 0.0);\nconsole.log()\n\nreturn {\n  verificatioTotal: Number.parseFloat(verificationTotal).toFixed(2),\n  hasIncorrectDate: hasIncorrectDate,\n}"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            1152,
            -224
          ],
          "id": "a66f163c-82cf-4a08-a4e6-e552bba15e9e",
          "name": "Code in JavaScript"
        },
        {
          "parameters": {
            "chatId": "={{ $json.chatID }}",
            "text": "=Please verify total sum: {{ $json.verificatioTotal }}",
            "additionalFields": {}
          },
          "type": "n8n-nodes-base.telegram",
          "typeVersion": 1.2,
          "position": [
            1728,
            -288
          ],
          "id": "a1aca954-7609-4d35-b3a7-f60e76f44472",
          "name": "Send a text message",
          "webhookId": "8df76437-cb5e-4c74-ad0f-cc46bb1d1da5",
          "retryOnFail": false,
          "credentials": {
            "telegramApi": {
              "id": "wO696FcGgg9OFBEP",
              "name": "Telegram account"
            }
          }
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "15357634-6f5a-42da-9f21-189ff34c1776",
                  "name": "chatID",
                  "value": "={{ $json.message.chat.id }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.4,
          "position": [
            688,
            -336
          ],
          "id": "b639db0e-06b7-4046-8ee7-f0527d9505a7",
          "name": "Remember chat"
        },
        {
          "parameters": {},
          "type": "n8n-nodes-base.merge",
          "typeVersion": 3.2,
          "position": [
            1376,
            -320
          ],
          "id": "7eec1065-8517-42ea-a384-681400348ae4",
          "name": "Merge",
          "alwaysOutputData": false
        },
        {
          "parameters": {
            "jsCode": "const result = {}\n\nfor (const item of $input.all()) {\n  if (item.json.verificatioTotal){\n    result.verificatioTotal = item.json.verificatioTotal\n  }\n  if (item.json.chatID){\n    result.chatID = item.json.chatID\n  }\n}\n\nreturn result;"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            1552,
            -288
          ],
          "id": "f8716f6e-950a-41b8-8ab4-2fdf72163add",
          "name": "Remove ugly structure"
        }
      ],
      "connections": {
        "Telegram Trigger": {
          "main": [
            [
              {
                "node": "Check users whitelist",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Check users whitelist": {
          "main": [
            [
              {
                "node": "Switch",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Inform no permissions",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Switch": {
          "main": [
            [
              {
                "node": "Analyze an image",
                "type": "main",
                "index": 0
              },
              {
                "node": "Remember chat",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Inform no image found",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Analyze an image": {
          "main": [
            [
              {
                "node": "Make response processable",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Make response processable": {
          "main": [
            [
              {
                "node": "Append row in sheet",
                "type": "main",
                "index": 0
              },
              {
                "node": "Code in JavaScript",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Append row in sheet": {
          "main": [
            []
          ]
        },
        "Code in JavaScript": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 1
              }
            ]
          ]
        },
        "Send a text message": {
          "main": [
            []
          ]
        },
        "Remember chat": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Merge": {
          "main": [
            [
              {
                "node": "Remove ugly structure",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Remove ugly structure": {
          "main": [
            [
              {
                "node": "Send a text message",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "Andrei Medvedev",
      "name": "Version 1877cf59",
      "description": "",
      "autosaved": true
    },
    "tags": []
  }
]