s91lmLHSIEejyPNeWm9kL.json
[
  {
    "updatedAt": "2026-02-02T02:58:16.145Z",
    "createdAt": "2026-01-30T04:28:59.776Z",
    "id": "s91lmLHSIEejyPNeWm9kL",
    "name": "Accountant",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {
            "download": true,
            "userIds": "483684106, 459463893"
          }
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          112,
          -80
        ],
        "id": "3d91dd1e-b13e-49c1-b9f5-d92b6cc52971",
        "name": "Telegram Trigger",
        "webhookId": "d3fe71e0-0d99-46b8-827c-74c631eda4cc",
        "alwaysOutputData": false,
        "executeOnce": false,
        "retryOnFail": false,
        "notesInFlow": false,
        "credentials": {
          "telegramApi": {
            "id": "wO696FcGgg9OFBEP",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.message.photo }}",
                      "rightValue": "e",
                      "operator": {
                        "type": "array",
                        "operation": "exists",
                        "singleValue": true
                      },
                      "id": "06fbc6e7-6f31-4301-adcc-65f800889147"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Image"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "c3e093a2-9e50-4a8e-9d19-b4d4453ba464",
                      "leftValue": "={{ $json.message.photo }}",
                      "rightValue": "",
                      "operator": {
                        "type": "array",
                        "operation": "notExists",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Empty"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          432,
          -80
        ],
        "id": "ca5ceaba-910d-4503-9c3d-235848e1f5ca",
        "name": "Switch"
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "text": "You extract receipt data.\nReturn JSON only.\nNo text outside JSON.\nNo markdown.\n\nSchema:\n{\n  \"d\":\"YYYY-MM-DD\",\n  \"m\":\"store\",\n  \"i\":[[\"cat\",\"item\",q,u,t]]\n}\n\nRules:\n- Shortest accurate strings\n- Numbers only\n- No nulls\n- No extra fields\n- Merge discounts into item totals",
          "inputType": "binary",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          800,
          -272
        ],
        "id": "2885e124-58a2-48d8-a05a-9961fbd8f30b",
        "name": "Analyze an image",
        "credentials": {
          "googlePalmApi": {
            "id": "vmKCM7R680zMoMHW",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.message.chat.id }}",
          "text": "No image was attached",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          688,
          112
        ],
        "id": "552cc9cc-a744-4d5e-a989-9073fac7a0fa",
        "name": "Inform no image found",
        "webhookId": "0d9e65e7-31da-439d-8625-b3e563a9fcdb",
        "credentials": {
          "telegramApi": {
            "id": "wO696FcGgg9OFBEP",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "if ($input.all().length != 1){\n  throw Error(\"Don't know how to process such response\")\n}\nconst modelResponse = $input.all()[0].json.content\nif (modelResponse.parts.length != 1){\n  throw Error(\"Don't know how to process such AI response\")\n}\nlet pureText = modelResponse.parts[0].text\nif (pureText.includes(\"`\")){\n  // AI model ignored no markdown instruction\n  pureText = pureText.replaceAll(\"```json\", \"\").replaceAll(\"```\", \"\")\n}\nconst accountantRecord = JSON.parse(pureText)\nconst output = []\n\n// guess date if model failed to do so\nlet hasIncorrectDate = false\nlet date = accountantRecord.d\nif (!accountantRecord.d || accountantRecord.d.startsWith(\"19\")){\n  date = new Date().toISOString().slice(0, 10)\n  hasIncorrectDate = true\n}\n\n\nfor (const record of accountantRecord.i) {\n    const [category, item, quantity, unitPrice, total] = record\n   \n    output.push(\n        {\n            \"hadIncorrectDate\": hasIncorrectDate,\n            \"date\": date,\n            \"merchandise\": accountantRecord.m,\n            \"category\": category || \"unknown\",\n            \"item\": item,\n            \"quantity\": quantity,\n            \"unitPrice\": unitPrice,\n            \"total\": total\n        }\n    )\n}\n\nreturn output"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          -272
        ],
        "id": "dbcd9442-8f37-4d4a-bb31-08bb64ad0bfa",
        "name": "Make response processable"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "=1O8OKjY8SaO-6x1X41ixAixO5PpMrcBfzgd6v7fAvzMU",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "={{ $json.date.slice(0,-3) }}",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Date": "={{ $json.date }}",
              "Merchant": "={{ $json.merchandise }}",
              "Category": "={{ $json.category }}",
              "Item": "={{ $json.item }}",
              "Quantity": "={{ $json.quantity }}",
              "Unit Price": "={{ $json.unitPrice }}",
              "Total": "={{ $json.total }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Date",
                "displayName": "Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Merchant",
                "displayName": "Merchant",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Category",
                "displayName": "Category",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Item",
                "displayName": "Item",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Quantity",
                "displayName": "Quantity",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Unit Price",
                "displayName": "Unit Price",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Total",
                "displayName": "Total",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "useAppend": true
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1120,
          -112
        ],
        "id": "2c98c7c9-1788-488e-b8fe-c96a2f57aaee",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "PpQhIwHDzMjuwmgy",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
          "text": "=Please verify total sum: {{ $json.verificatioTotal }}.\nIncorrect date: {{ $json.hasIncorrectDate }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1280,
          -272
        ],
        "id": "a1aca954-7609-4d35-b3a7-f60e76f44472",
        "name": "Send a text message",
        "webhookId": "8df76437-cb5e-4c74-ad0f-cc46bb1d1da5",
        "retryOnFail": false,
        "credentials": {
          "telegramApi": {
            "id": "wO696FcGgg9OFBEP",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
          "text": "Thanks for sending a shopping check. Processing...",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          656,
          -416
        ],
        "id": "236bf89d-4519-4a0a-8337-c1d7a0f51d72",
        "name": "Inform about processing",
        "webhookId": "0d9e65e7-31da-439d-8625-b3e563a9fcdb",
        "credentials": {
          "telegramApi": {
            "id": "wO696FcGgg9OFBEP",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const data = $input.all()\nconst hasIncorrectDate = data.some((i) => i.json.hadIncorrectDate)\nconst verificationTotal = data.reduce((partialSum, i) => partialSum + i.json.total, 0.0);\nconsole.log()\n\nreturn {\n  verificatioTotal: Number.parseFloat(verificationTotal).toFixed(2),\n  hasIncorrectDate: hasIncorrectDate,\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          -272
        ],
        "id": "a66f163c-82cf-4a08-a4e6-e552bba15e9e",
        "name": "Make short report"
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Inform about processing",
              "type": "main",
              "index": 0
            },
            {
              "node": "Analyze an image",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Inform no image found",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze an image": {
        "main": [
          [
            {
              "node": "Make response processable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Make response processable": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            },
            {
              "node": "Make short report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          []
        ]
      },
      "Send a text message": {
        "main": [
          []
        ]
      },
      "Inform about processing": {
        "main": [
          []
        ]
      },
      "Make short report": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "774100c3-3b8d-42be-8680-bfe8e5b74ce5",
    "activeVersionId": "774100c3-3b8d-42be-8680-bfe8e5b74ce5",
    "triggerCount": 1,
    "shared": [
      {
        "updatedAt": "2026-01-30T04:28:59.782Z",
        "createdAt": "2026-01-30T04:28:59.782Z",
        "role": "workflow:owner",
        "workflowId": "s91lmLHSIEejyPNeWm9kL",
        "projectId": "18oMexXyyY6TCNnP"
      }
    ],
    "activeVersion": {
      "updatedAt": "2026-02-02T03:01:51.000Z",
      "createdAt": "2026-02-02T02:58:16.146Z",
      "versionId": "774100c3-3b8d-42be-8680-bfe8e5b74ce5",
      "workflowId": "s91lmLHSIEejyPNeWm9kL",
      "nodes": [
        {
          "parameters": {
            "updates": [
              "message"
            ],
            "additionalFields": {
              "download": true,
              "userIds": "483684106, 459463893"
            }
          },
          "type": "n8n-nodes-base.telegramTrigger",
          "typeVersion": 1.2,
          "position": [
            112,
            -80
          ],
          "id": "3d91dd1e-b13e-49c1-b9f5-d92b6cc52971",
          "name": "Telegram Trigger",
          "webhookId": "d3fe71e0-0d99-46b8-827c-74c631eda4cc",
          "alwaysOutputData": false,
          "executeOnce": false,
          "retryOnFail": false,
          "notesInFlow": false,
          "credentials": {
            "telegramApi": {
              "id": "wO696FcGgg9OFBEP",
              "name": "Telegram account"
            }
          }
        },
        {
          "parameters": {
            "rules": {
              "values": [
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "leftValue": "={{ $json.message.photo }}",
                        "rightValue": "e",
                        "operator": {
                          "type": "array",
                          "operation": "exists",
                          "singleValue": true
                        },
                        "id": "06fbc6e7-6f31-4301-adcc-65f800889147"
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "Image"
                },
                {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 3
                    },
                    "conditions": [
                      {
                        "id": "c3e093a2-9e50-4a8e-9d19-b4d4453ba464",
                        "leftValue": "={{ $json.message.photo }}",
                        "rightValue": "",
                        "operator": {
                          "type": "array",
                          "operation": "notExists",
                          "singleValue": true
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "renameOutput": true,
                  "outputKey": "Empty"
                }
              ]
            },
            "options": {}
          },
          "type": "n8n-nodes-base.switch",
          "typeVersion": 3.4,
          "position": [
            432,
            -80
          ],
          "id": "ca5ceaba-910d-4503-9c3d-235848e1f5ca",
          "name": "Switch"
        },
        {
          "parameters": {
            "resource": "image",
            "operation": "analyze",
            "modelId": {
              "__rl": true,
              "value": "models/gemini-2.5-flash",
              "mode": "list",
              "cachedResultName": "models/gemini-2.5-flash"
            },
            "text": "You extract receipt data.\nReturn JSON only.\nNo text outside JSON.\nNo markdown.\n\nSchema:\n{\n  \"d\":\"YYYY-MM-DD\",\n  \"m\":\"store\",\n  \"i\":[[\"cat\",\"item\",q,u,t]]\n}\n\nRules:\n- Shortest accurate strings\n- Numbers only\n- No nulls\n- No extra fields\n- Merge discounts into item totals",
            "inputType": "binary",
            "options": {}
          },
          "type": "@n8n/n8n-nodes-langchain.googleGemini",
          "typeVersion": 1.1,
          "position": [
            800,
            -272
          ],
          "id": "2885e124-58a2-48d8-a05a-9961fbd8f30b",
          "name": "Analyze an image",
          "credentials": {
            "googlePalmApi": {
              "id": "vmKCM7R680zMoMHW",
              "name": "Google Gemini(PaLM) Api account"
            }
          }
        },
        {
          "parameters": {
            "chatId": "={{ $json.message.chat.id }}",
            "text": "No image was attached",
            "additionalFields": {}
          },
          "type": "n8n-nodes-base.telegram",
          "typeVersion": 1.2,
          "position": [
            688,
            112
          ],
          "id": "552cc9cc-a744-4d5e-a989-9073fac7a0fa",
          "name": "Inform no image found",
          "webhookId": "0d9e65e7-31da-439d-8625-b3e563a9fcdb",
          "credentials": {
            "telegramApi": {
              "id": "wO696FcGgg9OFBEP",
              "name": "Telegram account"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "if ($input.all().length != 1){\n  throw Error(\"Don't know how to process such response\")\n}\nconst modelResponse = $input.all()[0].json.content\nif (modelResponse.parts.length != 1){\n  throw Error(\"Don't know how to process such AI response\")\n}\nlet pureText = modelResponse.parts[0].text\nif (pureText.includes(\"`\")){\n  // AI model ignored no markdown instruction\n  pureText = pureText.replaceAll(\"```json\", \"\").replaceAll(\"```\", \"\")\n}\nconst accountantRecord = JSON.parse(pureText)\nconst output = []\n\n// guess date if model failed to do so\nlet hasIncorrectDate = false\nlet date = accountantRecord.d\nif (!accountantRecord.d || accountantRecord.d.startsWith(\"19\")){\n  date = new Date().toISOString().slice(0, 10)\n  hasIncorrectDate = true\n}\n\n\nfor (const record of accountantRecord.i) {\n    const [category, item, quantity, unitPrice, total] = record\n   \n    output.push(\n        {\n            \"hadIncorrectDate\": hasIncorrectDate,\n            \"date\": date,\n            \"merchandise\": accountantRecord.m,\n            \"category\": category || \"unknown\",\n            \"item\": item,\n            \"quantity\": quantity,\n            \"unitPrice\": unitPrice,\n            \"total\": total\n        }\n    )\n}\n\nreturn output"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            960,
            -272
          ],
          "id": "dbcd9442-8f37-4d4a-bb31-08bb64ad0bfa",
          "name": "Make response processable"
        },
        {
          "parameters": {
            "operation": "append",
            "documentId": {
              "__rl": true,
              "value": "=1O8OKjY8SaO-6x1X41ixAixO5PpMrcBfzgd6v7fAvzMU",
              "mode": "id"
            },
            "sheetName": {
              "__rl": true,
              "value": "={{ $json.date.slice(0,-3) }}",
              "mode": "name"
            },
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "Date": "={{ $json.date }}",
                "Merchant": "={{ $json.merchandise }}",
                "Category": "={{ $json.category }}",
                "Item": "={{ $json.item }}",
                "Quantity": "={{ $json.quantity }}",
                "Unit Price": "={{ $json.unitPrice }}",
                "Total": "={{ $json.total }}"
              },
              "matchingColumns": [],
              "schema": [
                {
                  "id": "Date",
                  "displayName": "Date",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true,
                  "removed": false
                },
                {
                  "id": "Merchant",
                  "displayName": "Merchant",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true,
                  "removed": false
                },
                {
                  "id": "Category",
                  "displayName": "Category",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true,
                  "removed": false
                },
                {
                  "id": "Item",
                  "displayName": "Item",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true,
                  "removed": false
                },
                {
                  "id": "Quantity",
                  "displayName": "Quantity",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true,
                  "removed": false
                },
                {
                  "id": "Unit Price",
                  "displayName": "Unit Price",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true,
                  "removed": false
                },
                {
                  "id": "Total",
                  "displayName": "Total",
                  "required": false,
                  "defaultMatch": false,
                  "display": true,
                  "type": "string",
                  "canBeUsedToMatch": true,
                  "removed": false
                }
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": false
            },
            "options": {
              "useAppend": true
            }
          },
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4.7,
          "position": [
            1120,
            -112
          ],
          "id": "2c98c7c9-1788-488e-b8fe-c96a2f57aaee",
          "name": "Append row in sheet",
          "credentials": {
            "googleSheetsOAuth2Api": {
              "id": "PpQhIwHDzMjuwmgy",
              "name": "Google Sheets account"
            }
          }
        },
        {
          "parameters": {
            "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
            "text": "=Please verify total sum: {{ $json.verificatioTotal }}.\nIncorrect date: {{ $json.hasIncorrectDate }}",
            "additionalFields": {}
          },
          "type": "n8n-nodes-base.telegram",
          "typeVersion": 1.2,
          "position": [
            1280,
            -272
          ],
          "id": "a1aca954-7609-4d35-b3a7-f60e76f44472",
          "name": "Send a text message",
          "webhookId": "8df76437-cb5e-4c74-ad0f-cc46bb1d1da5",
          "retryOnFail": false,
          "credentials": {
            "telegramApi": {
              "id": "wO696FcGgg9OFBEP",
              "name": "Telegram account"
            }
          }
        },
        {
          "parameters": {
            "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
            "text": "Thanks for sending a shopping check. Processing...",
            "additionalFields": {}
          },
          "type": "n8n-nodes-base.telegram",
          "typeVersion": 1.2,
          "position": [
            656,
            -416
          ],
          "id": "236bf89d-4519-4a0a-8337-c1d7a0f51d72",
          "name": "Inform about processing",
          "webhookId": "0d9e65e7-31da-439d-8625-b3e563a9fcdb",
          "credentials": {
            "telegramApi": {
              "id": "wO696FcGgg9OFBEP",
              "name": "Telegram account"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const data = $input.all()\nconst hasIncorrectDate = data.some((i) => i.json.hadIncorrectDate)\nconst verificationTotal = data.reduce((partialSum, i) => partialSum + i.json.total, 0.0);\nconsole.log()\n\nreturn {\n  verificatioTotal: Number.parseFloat(verificationTotal).toFixed(2),\n  hasIncorrectDate: hasIncorrectDate,\n}"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            1120,
            -272
          ],
          "id": "a66f163c-82cf-4a08-a4e6-e552bba15e9e",
          "name": "Make short report"
        }
      ],
      "connections": {
        "Telegram Trigger": {
          "main": [
            [
              {
                "node": "Switch",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Switch": {
          "main": [
            [
              {
                "node": "Inform about processing",
                "type": "main",
                "index": 0
              },
              {
                "node": "Analyze an image",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Inform no image found",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Analyze an image": {
          "main": [
            [
              {
                "node": "Make response processable",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Make response processable": {
          "main": [
            [
              {
                "node": "Append row in sheet",
                "type": "main",
                "index": 0
              },
              {
                "node": "Make short report",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Append row in sheet": {
          "main": [
            []
          ]
        },
        "Send a text message": {
          "main": [
            []
          ]
        },
        "Inform about processing": {
          "main": [
            []
          ]
        },
        "Make short report": {
          "main": [
            [
              {
                "node": "Send a text message",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "Andrei Medvedev",
      "name": "Version 774100c3",
      "description": "",
      "autosaved": true
    },
    "tags": []
  }
]